<header>
	<script src="/scripts/header.js"></script>
	<div id="div-enter" onclick="goCabinet()">
		<p th:text="${userFullName} eq null ? 'Войти' : ${userFullName.substring(0, 1)}">TRUE or
			FALSE</p>
	</div>
	<div id="div-fio" onclick="goCabinet()">
		<p th:text="${userFullName}"/>
	</div>
	<div id="div-head">
		<img onclick="goMain()" id="img-logo" src="/images/logo.png" alt="">
		<input id="input-search" type="text" placeholder="Поиск товаров">
		<script>
			$("#input-search").keyup(searchPressedEnter);
		</script>
	</div>
	<div id="div-cart" onclick="goCart()">
		<img src="/images/cart.png" alt="">
	</div>
</header>